<div class="content-top">
  <img src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
  <h3><%= @article.title %></h3>
  <p class="date"><%= @article.created_at %></p>
  <% if user_signed_in? %>
  <p><%= link_to 'Edit', edit_article_path(@article) %></p>
  <% end %>
  <br>
  <p><%= @article.text %></p>
</div>

<div class="content-mid">
  <div class="banner-mid">
    <h2>What do you think?</h2>
  </div>
</div>
<p>partie interactive genre</p>
<p><em>Share, like, vie</em>(mettre des icons )</p>

<div class="content-low">
  <div class="wrapper">
    <%= render 'comments/form' %>
  </div>

  <div class="wrapper">
    <h2>Comments</h2>
    <%= render @article.comments %>
  </div>
</div>
