
<div class="welcome">
  <ul>
    <% if user_signed_in? %>
      <li class="profil-welcome" ><%= image_tag ('https://www.quizz.biz/uploads/quizz/1190261/7_Nu725.jpg'), class: 'profil-img' %>
      <%= "Connected as: #{current_user.email}" %></li>
      <li><%= "Connected as: #{current_user.email}" %></li>
      <li><%= link_to "Edit", edit_user_registration_path %></li>
      <li><%= link_to 'New', new_article_path %></li>
      <li><%= link_to 'Posts', controller: 'articles' %></li>
      <% else %>
      <li><%= link_to 'Posts', controller: 'articles' %></li>
    <% end %>
  </ul>
</div>
<!-- https://blog-pierre-menes.canal.fr/articles/football/des-favoris-au-ralenti -->
<div class="main-post">
  <div class="post-header">
    <h1>Listing post</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

<% @articles.each do |article| %>
<div class="post">
  <%= image_tag ('https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'), class: 'home-img' %>
  <h3 class="text-bold"><%= article.title %></h3>
  <p><%= article.text %></p>
</div>
<% end %>
</div>
