
<div class="welcome">
  <ul>
    <% if user_signed_in? %>
      <li class="profil-welcome" ><%= image_tag ('https://www.quizz.biz/uploads/quizz/1190261/7_Nu725.jpg'), class: 'profil-img' %></li>
      <li><%= link_to "Edit", edit_user_registration_path %></li>
      <li><%= link_to 'New', new_article_path %></li>
      <li><%= link_to 'Posts', controller: 'articles' %></li>
      <% else %>
      <li class="profil-welcome" ><%= image_tag ('http://noticias.perfil.com/wp-content/uploads/2018/03/006-casa-de-papel-4-624x429.jpg'), class: 'profil-img' %></li>
      <li><em>what can u not do when not login?</em> ¯\_(ツ)_/¯</li>
      <li><%= link_to 'Posts', controller: 'articles' %></li>
    <% end %>
  </ul>
</div>
<!-- https://blog-pierre-menes.canal.fr/articles/football/des-favoris-au-ralenti -->
<div class="main-post">
  <div class="post-header">
    <% if user_signed_in? %>
      <p class="profil-username"><%= "Connected as: #{current_user.nickname}" %></p>
    <h1>Bio:</h1>
    <p>Dans la vie je suis développeur web. Passionné de nouvelles technologies, startup fan et social addict. Vous pouvez me retrouver sur Twitter, Instagram ou encore LinkedIn. </p>
    <% end %>
  </div>

<% @articles.each do |article| %>
<a href="articles/<%= article.id %>"><div class="post">
  <%= image_tag ('https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'), class: 'home-img' %>
  <div class="post-title">
    <h3 class="text-bold"><%= article.title %></h3>
    <p><%= article.text %></p>
    <div class="post-shadow"></div>
  </div>
</div>
</a>
<% end %>
</div>
<footer>
  <p>© 2018, Made with ❤️ in France.</p>
</footer>
